h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: tomato
}

body {
    background-color: whitesmoke;
    
}

.Pic1 {
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
}

h2 {
font-family: fantasy, 'Times New Roman', Times, serif;
table-layout: fixed;
color: red;
}

p {

color: orangered;
}